.link{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 50px ;
  
    h3{
      font-weight: 700;
      font-size: 20px;
      font-family: sans-serif;
    }
  
      h4{
        font-weight: 600;
        font-size: 12px;
        color: #6d789b;
        font-family: sans-serif;
            }
    
      img{
        width: 450px;
        height: 300px;
        border-radius: 15px;
      }
      button{
        width: 60px;
        height: 30px;
        background-color: rgb(128, 166, 224);
        border: none;
        border-radius: 4px;
      }
  }
  
  .card {
    border: 1px solid black;
    width: 450px;
  }
  .btn{
    background-color: aquamarine;
  }